
PPD/HW_1/C++/N10000M10000n5.txt
PPD/HW_1/Java/Java/N10000M10000k5.txt
PPD/HW_1/untitled/N10000M10000k5.txt
PPD/HW_2/C++/N10000M10000k3.txt
PPD/HW_2/Java/Java/N10000M10000k3.txt
PPD/HW_2/Java/Java/output_horizontal.txt
PPD/HW_2/Java/Java/output_parallel.txt
PPD/HW_2/Java/Java/output_sequential.txt
PPD/HW_2/Java/Java/output_vertical.txt
PPD/HW_2/C++/cmake-build-debug/output_sequential.txt
PPD/HW_2/C++/cmake-build-debug/output_parallel.txt
LFTC/Labs/Lab2/Lab2/.idea/material_theme_project_new.xml
PPD/HW_3/Mpi/.idea/workspace.xml
PPD/HW_3/Mpi/cmake-build-debug/.cmake/api/v1/reply/cache-v2-18966ab452d6bbbb41d5.json
PPD/HW_3/Mpi/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-2dde045ab5bf1c41feea.json
PPD/HW_3/Mpi/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-187c5c5e66e5b9795819.json
PPD/HW_3/Mpi/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
PPD/HW_3/Mpi/cmake-build-debug/.cmake/api/v1/reply/index-2024-11-14T06-02-16-0716.json
PPD/HW_3/Mpi/cmake-build-debug/.cmake/api/v1/reply/target-Mpi-Debug-e8d4658e9cedfc87ee1e.json
PPD/HW_3/Mpi/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-143597590e05b1a53b54.json
PPD/HW_3/Mpi/cmake-build-debug/CMakeCache.txt
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/3.28.1/CMakeCCompiler.cmake
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/3.28.1/CMakeRCCompiler.cmake
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/3.28.1/CMakeSystem.cmake
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.exe
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.obj
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.exe
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.obj
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/clion-environment.txt
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/FindMPI/test_mpi_C.bin
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/FindMPI/test_mpi_CXX.bin
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/Mpi.dir/embed.manifest
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/Mpi.dir/intermediate.manifest
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/Mpi.dir/main.cpp.obj
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/Mpi.dir/manifest.rc
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/Mpi.dir/manifest.res
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/Mpi.dir/vc140.pdb
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/rules.ninja
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/ShowIncludes/foo.h
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/ShowIncludes/main.c
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/ShowIncludes/main.obj
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/TargetDirectories.txt
PPD/HW_3/Mpi/main.cpp
PPD/HW_3/Mpi/Numar1.txt
PPD/HW_3/Mpi/Numar2.txt
PPD/HW_3/Mpi/Numar3.txt
PPD/HW_3/MPI_Var2/.idea/workspace.xml
PPD/HW_3/MPI_Var2/cmake-build-debug/.cmake/api/v1/reply/cache-v2-d0a3c3c48f494b765226.json
PPD/HW_3/MPI_Var2/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-6f517fde6efabeed0889.json
PPD/HW_3/MPI_Var2/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-83c259d4d48e51e405c2.json
PPD/HW_3/MPI_Var2/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
PPD/HW_3/MPI_Var2/cmake-build-debug/.cmake/api/v1/reply/index-2024-11-14T06-52-43-0980.json
PPD/HW_3/MPI_Var2/cmake-build-debug/.cmake/api/v1/reply/target-MPI_Var2-Debug-e991d4a90e223e768efa.json
PPD/HW_3/MPI_Var2/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-143597590e05b1a53b54.json
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeCache.txt
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/3.28.1/CMakeCCompiler.cmake
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/3.28.1/CMakeRCCompiler.cmake
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/3.28.1/CMakeSystem.cmake
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.exe
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.obj
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.exe
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.obj
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/clion-environment.txt
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/FindMPI/test_mpi_C.bin
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/FindMPI/test_mpi_CXX.bin
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/MPI_Var2.dir/embed.manifest
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/MPI_Var2.dir/intermediate.manifest
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/MPI_Var2.dir/main.cpp.obj
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/MPI_Var2.dir/manifest.rc
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/MPI_Var2.dir/manifest.res
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/MPI_Var2.dir/vc140.pdb
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/rules.ninja
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/ShowIncludes/foo.h
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/ShowIncludes/main.c
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/ShowIncludes/main.obj
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/TargetDirectories.txt
PPD/HW_3/MPI_Var2/Numar3.txt
PPD/HW_3/Sequential/cmake-build-debug-mingw/.cmake/api/v1/query/cache-v2
PPD/HW_3/Sequential/cmake-build-debug-mingw/.cmake/api/v1/query/cmakeFiles-v1
PPD/HW_3/Sequential/cmake-build-debug-mingw/.cmake/api/v1/query/codemodel-v2
PPD/HW_3/Sequential/cmake-build-debug-mingw/.cmake/api/v1/query/toolchains-v1
PPD/HW_3/Sequential/cmake-build-debug-mingw/CMakeCache.txt
PPD/HW_3/Sequential/cmake-build-debug-mingw/CMakeFiles/clion-Debug-MinGW-log.txt
PPD/HW_3/Sequential/cmake-build-debug-mingw/CMakeFiles/clion-environment.txt
PPD/HW_3/Sequential/cmake-build-debug-mingw/CMakeFiles/cmake.check_cache
PPD/HW_3/Mpi/.idea/workspace.xml
PPD/HW_3/Mpi/cmake-build-debug/.cmake/api/v1/reply/cache-v2-18966ab452d6bbbb41d5.json
PPD/HW_3/Mpi/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-2dde045ab5bf1c41feea.json
PPD/HW_3/Mpi/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-187c5c5e66e5b9795819.json
PPD/HW_3/Mpi/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
PPD/HW_3/Mpi/cmake-build-debug/.cmake/api/v1/reply/index-2024-11-14T06-02-16-0716.json
PPD/HW_3/Mpi/cmake-build-debug/.cmake/api/v1/reply/target-Mpi-Debug-e8d4658e9cedfc87ee1e.json
PPD/HW_3/Mpi/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-143597590e05b1a53b54.json
PPD/HW_3/Mpi/cmake-build-debug/CMakeCache.txt
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/3.28.1/CMakeCCompiler.cmake
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/3.28.1/CMakeRCCompiler.cmake
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/3.28.1/CMakeSystem.cmake
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.exe
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.obj
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.exe
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.obj
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/clion-environment.txt
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/FindMPI/test_mpi_C.bin
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/FindMPI/test_mpi_CXX.bin
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/Mpi.dir/embed.manifest
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/Mpi.dir/intermediate.manifest
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/Mpi.dir/main.cpp.obj
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/Mpi.dir/manifest.rc
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/Mpi.dir/manifest.res
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/Mpi.dir/vc140.pdb
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/rules.ninja
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/ShowIncludes/foo.h
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/ShowIncludes/main.c
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/ShowIncludes/main.obj
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/TargetDirectories.txt
PPD/HW_3/Mpi/main.cpp
PPD/HW_3/Mpi/Numar1.txt
PPD/HW_3/Mpi/Numar2.txt
PPD/HW_3/Mpi/Numar3.txt
PPD/HW_3/MPI_Var2/.idea/workspace.xml
PPD/HW_3/MPI_Var2/cmake-build-debug/.cmake/api/v1/reply/cache-v2-d0a3c3c48f494b765226.json
PPD/HW_3/MPI_Var2/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-6f517fde6efabeed0889.json
PPD/HW_3/MPI_Var2/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-83c259d4d48e51e405c2.json
PPD/HW_3/MPI_Var2/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
PPD/HW_3/MPI_Var2/cmake-build-debug/.cmake/api/v1/reply/index-2024-11-14T06-52-43-0980.json
PPD/HW_3/MPI_Var2/cmake-build-debug/.cmake/api/v1/reply/target-MPI_Var2-Debug-e991d4a90e223e768efa.json
PPD/HW_3/MPI_Var2/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-143597590e05b1a53b54.json
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeCache.txt
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/3.28.1/CMakeCCompiler.cmake
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/3.28.1/CMakeRCCompiler.cmake
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/3.28.1/CMakeSystem.cmake
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.exe
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.obj
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.exe
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.obj
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/clion-environment.txt
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/FindMPI/test_mpi_C.bin
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/FindMPI/test_mpi_CXX.bin
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/MPI_Var2.dir/embed.manifest
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/MPI_Var2.dir/intermediate.manifest
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/MPI_Var2.dir/main.cpp.obj
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/MPI_Var2.dir/manifest.rc
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/MPI_Var2.dir/manifest.res
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/MPI_Var2.dir/vc140.pdb
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/rules.ninja
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/ShowIncludes/foo.h
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/ShowIncludes/main.c
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/ShowIncludes/main.obj
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/TargetDirectories.txt
PPD/HW_3/MPI_Var2/Numar3.txt
PPD/HW_3/Mpi/.idea/workspace.xml
PPD/HW_3/Mpi/cmake-build-debug/.cmake/api/v1/reply/cache-v2-18966ab452d6bbbb41d5.json
PPD/HW_3/Mpi/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-2dde045ab5bf1c41feea.json
PPD/HW_3/Mpi/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-187c5c5e66e5b9795819.json
PPD/HW_3/Mpi/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
PPD/HW_3/Mpi/cmake-build-debug/.cmake/api/v1/reply/index-2024-11-14T06-02-16-0716.json
PPD/HW_3/Mpi/cmake-build-debug/.cmake/api/v1/reply/target-Mpi-Debug-e8d4658e9cedfc87ee1e.json
PPD/HW_3/Mpi/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-143597590e05b1a53b54.json
PPD/HW_3/Mpi/cmake-build-debug/CMakeCache.txt
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/3.28.1/CMakeCCompiler.cmake
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/3.28.1/CMakeRCCompiler.cmake
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/3.28.1/CMakeSystem.cmake
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.exe
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.obj
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.exe
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.obj
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/clion-environment.txt
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/FindMPI/test_mpi_C.bin
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/FindMPI/test_mpi_CXX.bin
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/Mpi.dir/embed.manifest
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/Mpi.dir/intermediate.manifest
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/Mpi.dir/main.cpp.obj
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/Mpi.dir/manifest.rc
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/Mpi.dir/manifest.res
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/Mpi.dir/vc140.pdb
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/rules.ninja
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/ShowIncludes/foo.h
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/ShowIncludes/main.c
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/ShowIncludes/main.obj
PPD/HW_3/Mpi/cmake-build-debug/CMakeFiles/TargetDirectories.txt
PPD/HW_3/Mpi/main.cpp
PPD/HW_3/Mpi/Numar1.txt
PPD/HW_3/Mpi/Numar2.txt
PPD/HW_3/Mpi/Numar3.txt
PPD/HW_3/MPI_Var2/.idea/workspace.xml
PPD/HW_3/MPI_Var2/cmake-build-debug/.cmake/api/v1/reply/cache-v2-d0a3c3c48f494b765226.json
PPD/HW_3/MPI_Var2/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-6f517fde6efabeed0889.json
PPD/HW_3/MPI_Var2/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-83c259d4d48e51e405c2.json
PPD/HW_3/MPI_Var2/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
PPD/HW_3/MPI_Var2/cmake-build-debug/.cmake/api/v1/reply/index-2024-11-14T06-52-43-0980.json
PPD/HW_3/MPI_Var2/cmake-build-debug/.cmake/api/v1/reply/target-MPI_Var2-Debug-e991d4a90e223e768efa.json
PPD/HW_3/MPI_Var2/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-143597590e05b1a53b54.json
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeCache.txt
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/3.28.1/CMakeCCompiler.cmake
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/3.28.1/CMakeRCCompiler.cmake
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/3.28.1/CMakeSystem.cmake
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.exe
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.obj
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.exe
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.obj
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/clion-environment.txt
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/FindMPI/test_mpi_C.bin
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/FindMPI/test_mpi_CXX.bin
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/MPI_Var2.dir/embed.manifest
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/MPI_Var2.dir/intermediate.manifest
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/MPI_Var2.dir/main.cpp.obj
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/MPI_Var2.dir/manifest.rc
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/MPI_Var2.dir/manifest.res
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/MPI_Var2.dir/vc140.pdb
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/rules.ninja
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/ShowIncludes/foo.h
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/ShowIncludes/main.c
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/ShowIncludes/main.obj
PPD/HW_3/MPI_Var2/cmake-build-debug/CMakeFiles/TargetDirectories.txt
PPD/HW_3/MPI_Var2/Numar3.txt
PPD/HW_4/lab4/Clasament_p8_pr2.txt
PPD/HW_4/lab4/Clasament_p8_pr1.txt
PPD/HW_4/lab4/Clasament_p6_pr2.txt
PPD/HW_4/lab4/Clasament_p6_pr1.txt
PPD/HW_4/lab4/Clasament_p4_pr2.txt
PPD/HW_4/lab4/Clasament_p16_pr2.txt
PPD/HW_4/lab4/Clasament_p16_pr1.txt
PPD/HW_4/lab4/.idea/vcs.xml
PPD/HW_4/lab4/.idea/.name
