
PDM/my-ionic-app/
PDM/my-node-server/
PPD/HW_1/C++/N10000M10000n5.txt
PPD/HW_1/Java/Java/N10000M10000k5.txt
PPD/HW_1/untitled/N10000M10000k5.txt
PPD/HW_2/C++/N10000M10000k3.txt
PPD/HW_2/Java/Java/N10000M10000k3.txt
PPD/HW_2/Java/Java/output_horizontal.txt
PPD/HW_2/Java/Java/output_parallel.txt
PPD/HW_2/Java/Java/output_sequential.txt
PPD/HW_2/Java/Java/output_vertical.txt
PPD/HW_2/C++/cmake-build-debug/output_sequential.txt
PPD/HW_2/C++/cmake-build-debug/output_parallel.txt
